/* COMMON */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #fff5e2;
}

.container {
  margin: 0 auto;
  width: 50%;
  height: 100vh;
}

.inline-block {
  display: inline-block;
}

.img-height {
  height: 55px;
  vertical-align: -1.2em;
}

.crimson {
  color: #d33359;
}
/* COMMON */

/* HEADER */
header {
  background-color: #fdbb40;
  position: relative;
}

header h1 {
  font-size: 40px;
  padding: 30px;
}

.hamburger-img {
  position: absolute;
  left: 800px;
  top: -30px;
}
/* /HEADER */

/* MAIN */
main {
  background-color: #fff;
  padding: 30px;
}

main h2 {
  padding: 20px 0;
}

.ingredients-container {
  padding: 20px 0 40px 0;
}

.ingredients-container span {
  padding: 0 10px;
}

.second-column {
  padding-left: 200px;
}

.ingredient {
  padding: 20px 0;
}

#hamburger-name {
  border: none;
  outline: none;
  font-size: 30px;
  padding: 10px 0;
}

.coupon {
  padding-bottom: 30px;
}

#discount {
  background-color: #fff5e2;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 10px;
  margin-left: 20px;
  width: 500px;
}

#price-button {
  background-color: #fdbb40;
  padding: 25px;
  margin-left: 350px;
  border-radius: 20px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.ingredient input[type=checkbox] {
  visibility: hidden;
}

.ingredient .checkbox span {
  position: relative;
}

.ingredient .checkbox span:after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 55%;
  left: -10px;
  transform: translateY(-55%);
  width: 16px;
  height: 16px;
  background-color: #d33359;
}

.ingredient input[type=checkbox]:checked + span:before {
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-55%);
  z-index: 1;
  content: "\f00c";
  font-size: 20px;
  font-weight: 900;
  color: black;
  font-family: "Font Awesome 5 Free";
}
/* /MAIN */

/* FOOTER */
footer {
  background-color: #d33359;
  color: #fff;
}

#total-price {
  float: right;
}

footer p, footer span {
  font-size: 30px;
  padding: 30px;
}
/* /FOOTER */
