/* COMMON */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}
/* COMMON */

/* HEADER */

/* /HEADER */

/* MAIN */

/* /MAIN */

/* FOOTER */

/* /FOOTER */
